[submodule "_backends/captcha_service"]
path = _backends/captcha_service
url = https://github.com/stevie0105/CaptchaService.git
[submodule "_frontends/react-app"]
path = _frontends/react-app
url = https://github.com/erwanriou/test_chapterday_react.git
